<body>

<div class="condition-wrapper">
  <div class="racePlace">
  </div>

  <div class="length">
  </div>

  <div class="course">
  </div>

  <div class="condtion">
  </div>
</div>
 <%= form_tag('/analysis/show', method: :get) do %>
        レース場 <input class="search__query" name="racePlace" placeholder="" type="text" value="">
        距離 <input class="search__query" name="length" placeholder="" type="text" value="">
        コース <input class="search__query" name="course" placeholder="" type="text" value="">
        馬場 <input class="search__query" name="condition" placeholder="" type="text" value="">
        <button class="btn-search" title="検索" type="submit"> search <i class="icon-search"></i></button></input>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>条件</th>
        <th>平均タイム</th>
        <th>同クラス平均タイム</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
        <%= @uma_name1 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
         <%= @uma_name2 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
        <%= @uma_name3 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
         <%= @uma_name4 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
         <%= @uma_name5 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
         <%= @uma_name6 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
          <%= @uma_name7 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
        <%= @uma_name8 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
        <%= @uma_name9 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
        <%= @uma_name10 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
        <%= @uma_name11 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
        <%= @uma_name12 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
        <%= @uma_name13 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
        <%= @uma_name14 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
        <%= @uma_name15 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
        <%= @uma_name16 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
        <%= @uma_name17 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">
        <%= @uma_name18 %>
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>


  </body>